*{
    text-decoration: none;
    padding: 0;
    margin: 0;
}

nav {
  background-color: #000000;
  padding: 20px 35px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}


.navcontent {
  display: flex;
  gap: 45px;
  margin-right: 320px;
  
}
.Zimg{
  height: 50px;
  width: 200px;
}
.navcontent a {
  color: white;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
}
.navcontent a:hover {
  border: 1px solid #ffffff;
  border-width: 4px;
  transition: 0.3s ease;
  border-radius: 10px;
  padding: 5px;
}

.searchbar {
  padding:10px;
  border-radius: 5px;
  border: none;
}
.searchbar:hover {
  background-color: #e6e6e6;
  border: 1px solid #888;
  transition: 0.3s ease;
}



.card{
    background-color: burlywood;
    display: flex ;
    padding: 20px;
    border-radius: 0px;
}
.c1z{
  height: 500px;
}
.textimg {
  position: absolute;
  top: 20px;
  left: 0;
  width: 200px;
  margin-left: 530px;
  margin-top: 200px;
 display: flex;
  justify-content: center;
  background-color: #443636;
  color: rgb(255, 255, 255);
  font-family: Georgia;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  border-radius: 60px;
}
.textimg:hover{
  background-color: #ffffff;
  color: #2f80ed;
  transition: 0.3 ease;
}

.card5{
    display: flex;
    background-image: url(images/zz.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
     justify-content:center;
     position: relative;
}
.con{
  font-family: sans-serif;
  background-color: #000000;
  color: #e6e6e6;
  width: 240px;
  border-radius: 15px;
  margin-left:  100px;;
}
.con:hover{
  background-color: #ffffff;
  color: black;
  transition: 0.3 ease;
}
.pl{
  font-family: sans-serif;
  font-weight: bold;
}


.form{
    padding: 10px;
    margin-top: 20px;
    margin-left:400px;
    margin-bottom: 15px;
    border-radius: 20px;
    background-color:  #ffffff;
    width: 430px;
    justify-content: center;
}
.con{
  display: flex;
  justify-content: center;
}
.p1{
  display: flex;
  justify-content: center;
}
.email{
    padding: 8px;
  width: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  outline: none;
  border-radius: 7px;
  border: none;
  display: flex;
}
.email:hover {
  border: 1px solid #2f80ed;
  background-color: #e6e6e6;
  border-width: 2px;
  transition: 0.3s ease;
  padding: 5px;
}
button{
  width: 400px;
  background-color: #2f80ed;
  border-style: none;
  color: azure;
  height: 38px;
  font-weight: 700;
  margin-top: 3px;
  cursor: pointer;
  border-radius: 8px;
}
button:hover {
  border: 1px solid #000000;
  border-width: 4px;
  transition: 0.3s ease;
  border-radius: 10px;
  padding: 5px;
}

.fn{
    padding: 8px;
  width: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  outline: none;
  border-radius: 7px;
  border: none;
  display: flex;
}
.fn:hover {
  border: 1px solid #2f80ed;
  background-color: #e6e6e6;
  border-width: 2px;
  transition: 0.3s ease;
  padding: 5px;
}

.ln{
    padding: 8px;
  width: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  outline: none;
  border-radius: 7px;
  border: none;
  display: flex;
}
.ln:hover {
  border: 1px solid #2f80ed;
  background-color: #e6e6e6;
  border-width: 2px;
  transition: 0.3s ease;
  padding: 5px;
}
.ph{
    padding: 8px;
  width: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  outline: none;
  border-radius: 7px;
  border: none;
  display: flex;
}
.ph:hover {
  border: 1px solid #2f80ed;
  background-color: #e6e6e6;
  border-width: 2px;
  transition: 0.3s ease;
  padding: 5px;
}
.cu{
    padding: 8px;
  width: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  outline: none;
  border-radius: 7px;
  border: none;
  display: flex;
}
.cu:hover {
  border: 1px solid #2f80ed;
  background-color: #e6e6e6;
  border-width: 2px;
  transition: 0.3s ease;
  padding: 5px;
}
.card2{
  display: flex;
  background-color: burlywood;
}

.carddetails{
    display: flex;
    padding: 40px;
    margin-left: 100px;
    gap: 120px;
}
.f1{
  font-size: large;
  color: #000000;
  font-family: sans-serif;
  justify-content: center;
}
.f1:hover {
  transition: 0.3s ease;
  padding: 5px;
  background-color: chartreuse;
}

.af{
  font-family: sans-serif;
}
.af:hover{
  transition: 0.3 ease;
  background-color: yellow;
}
.location{
  display: flex;
  padding: 10px;
}
